@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

            /* Header Area */
h1 {
    font-size: 47px;
    line-height: 1.5;
    color: rgb(75, 72, 72);
}
.text-color{
    color: rgb(241, 34, 86);
}
h4 {
    font-size: 17px;
    line-height: 1.7;
    font-weight: 600;
    color: rgb(78, 73, 73);
    
}
.flex-content {
    display: flex;
}
.half-content {
    width: 50%;
    padding: 5%
    
}
.half-content img {
    width: 100%;

}
.header-bg {
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
   
}
.link-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(to left, #f12711,#ec087a);
    padding: 12px 30px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
}


        /* About-Area */
.about-area {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
   
}

h2{
    font-size: 40px;
    color: rgb(75, 72, 72);
}

p {
    font-size: 18px;
    color: rgb(71, 65, 65);
    line-height: 1.5;
}


                    /* Beverage Area */
.beverage-area {
    text-align: center;
}
.beverage-items {
    display: flex;
    margin: 3%;
}
.beverage-box {
    width: 31%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    margin: 1.5%;
    padding: 1.5%;
    border-radius: 19px;
}
.text-item h3 {
    color: rgb(75, 72, 72);
}
.img-item img {
    width: 100%;
}


                   /* Discount Area */
.discount-area {
    margin: 5%;
    background-image: url(images/discount1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    border-radius: 5px;
}  
.discount-content h1,
.discount-content h2,
.discount-content h3 {
    margin: 0;
    color: rgb(75, 72, 72);
}      
.discount-content {
    margin-left: 30px ;
}           